@model IEnumerable<BankOfSimba.Models.BankAccount>

@{
    ViewBag.Title = "All";
}

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 2px solid black;
        padding: 10px;
    }
</style>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Index </th>
        <th>Name </th>
        <th>Balance </th>
        <th>Animal type </th>
        <th>King? </th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <td>@Model.ToList().IndexOf(d)</td>
            <td>@d.Name</td>
            <td>@d.Balance.ToString("0.00") @d.Currency</td>
            <td>@d.AnimalType</td>
            <td>@d.King</td>
        </tr>
    }
</table>
